 body {
    font-size: 70%;
}
 h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
    font-family: "Arial", Helvetica, sans-serif;
}


a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;

}

mark {
    background-color: transparent;
    color: black;
    font-weight: bold;
}
mark.veri {
    background-color: transparent;
    color: red;
    font-weight: bold;
}
mark.ruoho {
    background-color: transparent;
    color: green;
    font-weight: bold;
}
mark.aurinko {
    background-color: transparent;
    color: #cffc03;
    font-weight: bold;
}
mark.red{
    background-color: red;
    color: black;
    font-weight: none;
}
mark.green{
    background-color: green;
    color: black;
    font-weight: normal;
}


@media screen and (min-width: 42.5em ) {
 
  .columns-container {
      float: left;
  }
 
  .left-column {
    margin-right: 20em;
    float: left;
  }
 
  .right-column {
    width: 15.75em;
    margin-left: -19.3em;
    float: left;
  }
}html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { margin: 0 auto; }

footer, header { position: relative; clear: both; }

.left-column, .right-column, footer, header {  border: 1px solid  #ccc; padding: 1.25em; margin: .5em; }

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {

    .columns-container { 
	float: left;
	}

  .left-column { 
    margin-right: 20em;
    float: left;
  }

  .right-column { 
    width: 35.75em;
    margin-left: -19.3em;
    float: left;
  }   
}
table {
	border: 1px solid #ddd; 
	border-collapse: collapse; 
	}
td.red
{ 
background-color:red;
} 
td.green 
{ 
background-color:green;
} 
      td.vari0{background-color:#ffffff;}
      td.vari1{background-color:cac9ff;}
      td.vari2{background-color:#a2a1ff;}
      td.vari3{background-color:#7473ff;}
      td.vari4{background-color:#4442ff;}
      td.vari5{background-color:#2926ff;}
      td.vari6{background-color:#0400ff;}
      td.vari7{background-color:#6f00ff;}
      td.vari8{background-color:#d400ff;}
      td.vari9{background-color:#ff0095;}
      td.vari10{background-color:#ff0095;}
      td.vari11{background-color:#ff0095;}
      td.vari12{background-color:#ff0095;}
      td.vari13{background-color:#ff0095;}


table td { 
	border-left: 1px solid #ddd; 
	border-bottom: 2px solid #ddd;
	}
table td:first-child { border-left: none; }
td { text-align:center; vertical-align:middle; }
tr.asdf:nth-child(even) {
    background-color: #f2f2f2;;
}
th.asdf {
	background-color: #4CAF50;
}
th, td {
    text-align: left;
    padding: 2px;
}


